{
  log {
    format console
  }
}

groufie.blem.dev {
  header {
    Strict-Transport-Security "max-age=63072000"
    defer
  }
  handle {
    reverse_proxy groufie-server:3000
  }
  tls pera.blessly@gmail.com {
    protocols tls1.3
  }
}

imagehippo.blem.dev {
  header {
    Strict-Transport-Security "max-age=63072000"
    defer
  }
  handle {
    reverse_proxy imagehippo-server:3001
  }
  tls pera.blessly@gmail.com {
    protocols tls1.3
  }
}