{
  log {
    format console
  }
}

groufie.blem.dev {
  handle {
    reverse_proxy groufie-server:3000
  }
  tls pera.blessly@gmail.com {
    protocols tls1.3
  }
}

imagehippo.blem.dev {
  handle {
    reverse_proxy imagehippo-server:3001
  }
  tls pera.blessly@gmail.com {
    protocols tls1.3
  }
}

hippodirect.blem.dev {
  handle {
    reverse_proxy hippodirect-server:3002
  }
  tls pera.blessly@gmail.com {
    protocols tls1.3
  }
}