{
  log {
    format console
  }
}

api.tasks.blem.dev {
  handle {
    reverse_proxy tasks-server:5432
  }
  tls pera.blessly@gmail.com {
    protocols tls1.3
  }
}

tasks.blem.dev {
  handle {
    reverse_proxy tasks-server:3004
  }
  tls pera.blessly@gmail.com {
    protocols tls1.3
  }
}

groufie.blem.dev {
  handle {
    reverse_proxy groufie-server:3003
  }
  tls pera.blessly@gmail.com {
    protocols tls1.3
  }
}

imagehippo.blem.dev {
  handle {
    reverse_proxy imagehippo-server:3001
  }
  tls pera.blessly@gmail.com {
    protocols tls1.3
  }
}

hippodirect.blem.dev {
  handle {
    reverse_proxy hippodirect-server:3002
  }
  tls pera.blessly@gmail.com {
    protocols tls1.3
  }
}

blem.dev {
  handle {
    reverse_proxy blem-server:3000
  }
  tls pera.blessly@gmail.com {
    protocols tls1.3
  }
}

http://localhost, http://0.0.0.0 {
  handle {
    reverse_proxy blem-server:3000
  }
}